.header {
  background-color:$white-color ;
  color: $dark-grey;
  padding: 4.8rem 0;


  @include respond(phone) {
    border: 0px;
  }
	ul.Link_List {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			color: $dark-grey;
			background-color: white;

	}
	li.myLi {	
			float: left;
			cursor: pointer;
			
	}
	li.myLi a {
			display: block;
			color: $dark-grey;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 4.00rem;
			font-style: bold;
			}
	li a:hover {
			color:white;
			background-color: $primary-color;
			display: flex;
			flex-direction: column;
			justify-content: center;
			
	}
}
